@import '@styles/variables';
.fullscreen-guide {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: all;
  z-index: 901;
  font-size: 12px * 2;
  font-weight: 300;
  line-height: 16.8px * 2;
  .rnd-btn {
    position: absolute;
    width: 230px;
    height: 64px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 24px;
  }
  .finger {
    width: 80px;
    height: 80px;
    position: absolute;
  }
  &.step0 {
    .panel {
      position: fixed;
      left: 0;
      width: 100%;
      bottom: 0;
      height: auto;
    }
    .save-finger {
      top: 167 * 2px;
      left: 553px;
    }
    .panel-finger {
      transform-origin: center;
      transform: translateX(-50%) rotate(180deg);
      left: 50%;

      bottom: 341 * 2px;
    }
    .text2 {
      font-family: PingFang SC;
      font-size: 12px * 2;
      color: white;
      font-weight: 300;
      line-height: 16.8px * 2;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 397 * 2px;
    }
    .text1 {
      image {
        width: 7.36 * 3px;
        height: 6.44 * 3px;
        padding: 0 10px;
      }
      position: absolute;
      font-size: 24px;
      font-weight: 300;
      line-height: 33.6px;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      letter-spacing: 1px;
      gap: 12px;

      color: white;

      width: 215 * 2px;
      top: 248px;
      left: 86px;
      .span {
        font-size: 16px * 2;
        font-weight: 500;
        line-height: 22.4px;
        text-align: right;
      }
    }
    .btn-next {
      top: 445px;
      left: 282px;
    }
  }
  &.step1 {
    .text2 {
      image {
        width: 7.36 * 3px;
        height: 6.44 * 3px;
        padding: 0 10px;
        transform: rotate(180deg);
      }
      position: absolute;
      font-size: 24px;
      font-weight: 300;
      line-height: 33.6px;
      text-align: right;
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      color: white;

      top: 118 * 2px;
      left: 205 * 2px;
    }
    .btn-start {
      bottom: 212px - 100px;
      left: 50%;
      transform: translateX(-50%);
    }
    .photo-finger {
      top: 948px;
      left: 520px;
    }
    .sticker-finger {
      top: 331 * 2px;
      left: 135 * 2px;
    }
    .text-finger {
      top: 579 * 2px;
      left: 77 * 2px;
    }
    .texts {
      position: absolute;
      font-size: 12px * 2;
      font-weight: 300;
      line-height: 16.8px * 2;
      text-align: left;
      color: white;
    }
    .sticker-text {
      top: 376 * 2px;
      left: 130 * 2px;
    }
    .photo-text {
      top: 1042px;
      left: 512px;
    }
    .text-text {
      top: 624 * 2px;
      left: 73 * 2px;
    }

    .fake-sticker {
      position: absolute;
      width: 121.78 * 2px;
      height: 96 * 2px;
      left: 94px * 2;
      top: 229px * 2;

      // border: 2px solid white;
    }
    .fake-photo {
      position: absolute;
      width: 334px;
      height: 226px * 2;
      left: 394px;
      top: 247px * 2;
      transform: scale(1.2);
    }
    .fake-text {
      position: absolute;
      width: 186px * 2;
      height: 183px * 2;
      left: -0px * 2;
      top: 396px * 2;
    }
    .text-done {
      position: absolute;
      font-family: PingFang SC;
      text-align: center;

      width: 132px * 3;
      height: 39px * 2;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100 * 2px;
      color: white;
    }
  }

  .policy {
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    position: absolute;
    box-sizing: border-box;
    padding-left: 40px;
    margin-top: 30px;
    color: white;

    width: 620px;
    &_button {
      width: 620px;
      height: 88px;
      color: #fff;
      background-color: $blue-dark-color;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      margin-top: 40px;

      &__cancel {
        font-size: 28px;
        text-decoration: underline;
        color: $gray-light-color;
        margin-top: 40px;
      }
    }

    &__checkbox {
      box-sizing: border-box;
      border: 2px solid $gray-light-color;
      background-color: #fff;
      width: 32px;
      height: 32px;
      position: absolute;
      left: 0;

      & > Text {
        display: none;
      }

      &__active {
        background-color: $gray-light-color;

        & > Text {
          color: #fff;
          display: inline-block;
          margin-top: -10px;
        }
      }

      &__icon {
        font-size: 30px;
      }
    }

    &__link {
      color: white;
      margin-top: 5px;
    }
  }
}
