.share-panel {
  padding-top: 51 * 2px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 75px;
  &__desc {
    font-family: PingFang SC;
    font-size: 14px * 2;
    font-weight: 400;
    line-height: 22.75px * 2;
    text-align: center;
    color: #424a52;
    .underline {
      font-weight: 600;
      margin-top: 16px;
    }
  }
  &__title {
    font-family: PingFang SC;
    font-size: 16px * 2;
    font-weight: 600;
    line-height: 26.32px * 2;
    text-align: center;
    width: 159 * 2px;
    height: 53 * 2px;
    margin-top: 16px;
    margin-left: 123px;
  }
  &__friends {
    display: flex;
    width: 278 * 2px;
    height: 169 * 2px;
    margin-top: -80px;
    gap: 70px;
    // border: 2px solid #424a52;
    // background-color: rgba(#424a52, 0.1);
    // background-clip: content-box;
    // padding: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-sizing: padding-box;

    &__friend {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      image {
        width: 90px;
        height: 70px;
        margin-bottom: 32px;
      }
      view {
        font-size: 12px * 2;
        font-weight: 500;
        line-height: 30.5px;
        text-align: center;
      }
    }
  }
  &__redeemed {
    font-family: PingFang SC;
    font-size: 14px * 2;
    font-weight: 500;
    line-height: 23.03px;
    text-align: left;
    color: #424a52;
    display: flex;
    align-items: center;
    justify-content: center;
    &__count {
      font-family: PingFang SC;
      font-size: 22px * 2;
      font-weight: 500;
      line-height: 36.19px;
      margin-right: 8px;
    }
  }
}
