.editable-item {
  position: absolute;
  transform-origin: 0 0;
  transition: all 0.05s linear;
  &.active .image {
    // border: 2px solid white;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
  }
  .controls {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    overflow: hidden;
    padding: 10px;
    z-index: 2;
    &.rotate {
    }
  }
}
