$bottom-element-height: 140px;
$page-bottom-padding: 50px;

/* --- colors --- */
$text-primary-color: #323d47;
$text-title-color: #333e47;

$default-active-color: #35424a;

$blue-dark-color: #424a52;
$blue-light-color: #4cb5f0;
$gray-light-color: #9aa5b0;
