.homeStory {
  position: relative;

  &__button {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__image {
    width: 100%;

    Image {
      width: 100%;
      display: block;
    }
  }
}
