.hideaway-rule {
  padding: 40px;
  font-weight: 24px;
  padding-top: 0;
  .title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
  }
  view {
    margin-bottom: 10px;
  }
  .tip {
    margin-top: 40px;
  }
}
