.dropdown {
  width: 100vw;
  &__overlay {
    height: 100%;
    width: 100%;
    background-color: black;
  }
  &__body {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    width: calc(100vw - 60px);
    padding: 0 30px;
    &__title {
      font-size: 36px;
      font-weight: 500;
      padding-top: 68px;
      padding-bottom: 50px;
      text-align: center;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eff3f6;
      border-radius: 59px;
      font-size: 28px;
      font-weight: 400;
      padding: 0 40px;
      margin-bottom: 40px;
      &__container {
        display: flex;
        align-items: center;
        &__retailer-img {
          width: 84px;
          height: 84px;
          padding: 14px 0;
          padding-right: 40px;
        }
      }
      &__arrow {
        width: 20px;
      }
    }
  }
}
