@import '@styles/variables';

page {
  padding-bottom: 100px;
}

.search {
  &__empty {
    font-size: 32px;
    color: $gray-light-color;
    text-align: center;
    margin-top: 200px;
  }

  &__header {
    padding-bottom: 60px;

    &__wrapper {
      padding: 14px 26px 0 26px;

      &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $blue-dark-color;
        border-radius: 58px;
        padding: 0 28px;
        height: 68px;

        &__text {
          font-size: 28px;
          font-weight: 400;
          color: $gray-light-color;
          width: 100%;
          display: flex;
          align-items: center;
        }

        &__icon {
          width: 80px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          left: 15px;
        }

        Input {
          width: 100%;
          color: $blue-dark-color;
        }

        Image {
          width: 40px;
          height: 37px;
        }
      }
    }
  }

  &__body {
    &__keywords {
      &__container {
        padding: 40px 26px;
        padding-top: 0;

        &__label {
          display: flex;
          justify-content: space-between;
          font-size: 28px;
          font-weight: 400;
          color: $gray-light-color;
          margin-bottom: 26px;

          &__empty {
            position: relative;
            color: $blue-dark-color;
            font-size: 28px;
            font-weight: 600;

            &::after {
              content: '';
              display: block;
              position: absolute;
              bottom: 2px;
              width: 100%;
              height: 2px;
              background-color: $blue-dark-color;
            }
          }
        }

        &__list {
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;

          &__item {
            width: 280px;
            padding-bottom: 16px;
          }
        }
      }
    }
  }

  &__result {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 30px 30px;
  }
}
