.panel-btn-wrapper {
  position: fixed;
  right: -200px;
  z-index: 900;
  transition: all 0.3s ease-in-out;
  &.open {
    right: -60px;
    .pill-button {
      .arrow {
        transform: rotate(0deg);
      }
    }
  }

  .pill-button {
    border: 2px solid white;
    width: 260px;
    justify-content: flex-start;
    .arrow {
      width: 12.24 * 2px;
      height: 10.35 * 2px;
      padding: 24px 28px;
      transition: all 0.3s ease-in-out;
      transform: rotate(180deg);
    }
    .label {
      padding: 24px 14px;
    }
  }
}
