.panel-btn-wrapper {
  position: fixed;
  right: 0;
  z-index: 900;
  .toggler {
    position: absolute;
    width: 24 * 2px;
    height: 48 * 2px;
    background-color: rgba(255, 0, 0, 0);
    z-index: 2;
    left: 10px;
    top: 30px;
  }
  .panel-open,
  .panel-close {
    z-index: 1;
    height: 78 * 2px;
    width: auto;
  }
}
