@import '@styles/variables';
@import '@styles/mixins';

.confirm {
  padding: 100px 0;
  font-size: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      padding: 0 50px;
      margin-top: 10px;
      @include clamp(2);
    }
  }

  &__button {
    width: 340px;
    height: 76px;
    background-color: $blue-dark-color;
    color: #fff;
    border-radius: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}
